/* ==========
   工具样式
   ========== */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ===============
   浏览器更新提示
   =============== */

.browserupgrade {
    margin: 0;
    padding: 10px;
    background: #ccc;
    font-size: 20px;
}
/******* 自定义 *******/
ol,ul,li{
	list-style: none;
}
html{
	font-size: 62.5%;
	color: #222;
}
::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

body{
	font-size: 1.2rem;
	line-height: 1.5;
	background-color: #f7f7f7;
	font-family: "微软雅黑","Microsoft YaHei"; 
}
a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: underline;
}


/******header样式*****
*********************/
header{
	width: 100%;

}
header .top{
	line-height: 3rem;
	padding: 0 1.5rem;	
	color:#fff;
	background-color: #555;
	border-bottom:1px solid #ecc000;  
}
header .top ul{
	float: right;
}

header .top ul li{
	display: inline-block;
}
header .top ul li+li{
	border-left: 1px solid #999;
	margin-left: -3px;/*由于设置inline-block html中li的折行空白字符*/
}
header .top ul li a{
	padding: 0 1.5rem;
	display: inline-block;
	color:#fff;
}

@media only screen and (max-width:50em) and (min-width:34em){
	header .top ul li a{
		padding: 0 1rem;
	}
}
@media only screen and (max-width:34em){
	header .top .tel{
		display: none;
	}
	header .top ul li a{
		padding: 0 1rem;
	}

	header .top ul li:nth-child(3),header .top ul li:nth-child(4){
		display: none;
	}

}

header .main{
	padding: 0;
}

header .main .brand{
	display: inline-block;
	padding: 1rem 0 0 1.5rem;
}

header .main ul {
	float: right;
	padding-right: 1rem;

}

header .main ul li{
	display: inline-block;
	border-left: 1px solid #f0ede9;
}

header .main ul li a{
	display: inline-block;
	line-height: 5.5rem;
	padding: 0 2rem;
	font-size: 1.6rem;
	font-weight: bold;
    color: #7c7a65;

}

@media only screen and (max-width:50em){
	header .main ul li {
        border: none;
    }
    header .main ul li a {
        padding: 0 1.5rem;
        font-weight:normal;
    }
	header .main .brand{
		display: block;	
		text-align: center;
		margin: 1.5rem auto 0.5rem;
	}
	header .main ul {
	float: none;
	text-align: center;
	padding-right: 1rem;
    }
}

@media only screen and (max-width:34em){
	header .main ul {
		padding:0;
	}
	header .main ul li:first-child{
		display: none;
	}
	header .main ul li a {
        padding: 0 0.5rem;
    }
}

/******contain样式*****
*********************/
.contain{
	width: 100%;
}
.transaction{
	width: 100%;
	background-color:  #7c7365;
	color: #fff;
	font-size: 1.5rem;
}
.trans-contain{
	width: 90%;
	margin: 0 auto;
	line-height: 2rem;
}
.trans-contain .tran-data {
	float: left;
	padding: 1rem;
}
.trans-contain .tran-data span{
	display: inline-block;
	line-height: 3rem;
}
.trans-contain .tran-data span.money-data {
	background-color:rgba(255, 255, 255, 0.9) ;
	color: #ff9900;
	font-size:2.2rem;
	margin: 0 1rem;
	padding: 0 1rem;
	border-radius: 3px;
	box-shadow: 1px 2px 1px #333 inset;
	letter-spacing: 3px;
}
.trans-contain .tran-report{
	text-align: right;
}
.trans-contain .tran-report a{
	display: inline-block;
	color: #fff;
	line-height: 3rem;
	padding: 1rem;

}
@media only screen and (max-width:50em){
	.transaction{
		font-size: 1.2rem;
	}
	.trans-contain .tran-data span.money-data {
		font-size: 1.6rem;
        margin: 0;
        padding: 0;
        letter-spacing: inherit;
        box-shadow: none;
        background: transparent;
	}

}

@media only screen and (max-width:34em){

    .trans-contain .tran-data,.trans-contain .tran-report {
        float: none;
        display: block;
        text-align: center;
        padding: 0;
    }

}

.feature{
	width: 90%;
	margin: 2rem auto;
	font-size: 0;/*由于inlieblock 会有默认间隙 去除防止换行*/
}
.feature .item{
	display: inline-block;
	box-sizing:border-box;/*pading 算在盒模型内部*/
 	width: calc(33.33333% - 1rem);
 	font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
    padding: 1rem;
}
.feature .item + .item {
    margin-left: 1.5rem;
}

.feature .item span{
	display: inline-block;
	width: 40%;
	margin: 0;
    padding: 0;
	text-align: center;
	vertical-align: top;
	font-size: 3.3rem;
	color: #ff9900;
}
.feature .item p{
	display: inline-block;
	width: 55%;
	color: #999;
	margin: 0;
    padding: 0;
}
@media only screen and (max-width:50em) and (min-width:34em){
	.feature .item span,
    .feature .item p {
        display: block;
        width: 100%;
        font-size: 2.6rem;
        text-align: center;
    }

    .feature .item p {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width:34em){
	.feature{
	width: 96%;
	}
	.feature .item span{
	display: inline-block;
	width: 42%;
	margin: 0;
    padding: 0;
	text-align: center;
	vertical-align: top;
	font-size: 3.3rem;
	color: #ff9900;
}
.feature .item p{
	display: inline-block;
	width: 55%;
	color: #999;
	margin: 0;
    padding-left: 0;
}
	.feature .item + .item {
    margin-left: 0rem;
    margin-top: 1rem;
}
	.feature .item{
	display: block;
	width: 100%;
	}

}
.notice{
	width: 90%;
	margin: 2rem auto;
	box-shadow: 0 0 4px #ccc;
	background-color: #fff;
	line-height: 3rem;
}
.notice a {
    float: left;
    display: inline-block;
    width: 70%;
    margin-left: 2rem;
    text-decoration: none;
}

.notice a:first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.notice a:first-child:before {
    content: '最新公告: \00a0\00a0';
    color: #aaa;
}
.notice a span {
    color: #999;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.notice a.more {
    float: right;
    width: auto;
    margin-right: 2rem;
    color: #ff9900;
}
@media only screen and (max-width:50em){
	.notice a {
		margin-left: 1rem;
	}
	.notice a span{
		display: none;
	}
	.notice a.more{
		margin-right: 1rem;
	}

}
@media only screen and (max-width:34em){
	.notice{
		width: 96%;
	}
}
.product{
	width: 90%;
	margin: 2rem auto;
	border-top: 1px solid #ff9900; 
	box-shadow: 0 0 4px #ccc;
	background-color: #fff;
	line-height: 3rem;
	font-size: 1.4rem;
	background-color: #f5f9fa;

}
.product h2{
	float: left;
	width: 20%;
	font-size: 2.4rem;
    font-weight: normal;
    color: #635c51;
    text-align: center;
    margin-top: 3rem;
    padding: 0;
}
.product h2 em {
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
}
.product-content{
	width: 80%;
	float: right;
	background-color: #fff;
}
.product-content .item{
	width: 100%;
	height: 9rem;
	border-left: 1px solid #ccc;
}
.product-content .item+.item{
	border-top: 1px solid #ccc;
}
.product-content .item h3{
	width: 30%;
	height: 100%;
	float: left;
	font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
    margin:0;
	padding-top: 3rem;
    box-sizing:border-box;
}
.product-content .item h3 em{
	font-size: 3.6rem;
    font-style: normal;
    color: #8b999d;
    margin-right: 0.5rem;
}
.product-content .item .info{
	width: 48%;
	height: 100%;
	float: left;
	border-left: 1px solid #ccc;
	text-align: center;
	font-size: 0;
	box-sizing:border-box;
}
.product-content .item .info p{
	display: inline-block;
	font-size: 1.4rem;


}
.product-content .item .info p:nth-child(1){
	width: 56%;
}
.product-content .item .info p:nth-child(2) {
	width: 40%;
}
.product-content .item .info p span{
	display: block;
	font-size: 2.4rem;
    color: #ff9900;

}
.product-content .item .info p i{
	font-size: 1.2rem;
    font-style: normal;
    color: #999;
}
.product .product-content .item h3 i {
    display: block;
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
    margin-top: -1rem;
}
.product-content .item .buy{
	float: left;
	height: 100%;
	width: 22%;
	border-left: 1px solid #ccc;
	text-align: center;
	box-sizing: border-box;
}
.product-content .item .buy a{
	display: inline-block;
	width: 70%;
	line-height: 4rem;
	text-align: center;
	background-color: #ff9900;
	color: #fff;
	font-size: 1rem;
	margin-top: 3rem;
	text-decoration: none;
	border-radius: 5px;
}
.product .product-content .item .buy a:hover,
.product .product-content .item .buy a:active {
    background-color: #ffc468;
}
.product .product-content .item .buy a.disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
}

@media only screen and (max-width:50em){
	 
	 .product h2 {
        float: none;
        width: 100%;
        margin-top: 2rem;
        font-size: 2.2rem;
    }

    .product h2 em:first-child {
        margin-top: 0;
    }

    .product h2 em {
        display: inline;
        font-size: 1.2rem;
    }

    .product-content {
        float: none;
        width: 100%;
    }
	.product-content .item {
		border-left: none;
	}
     .product-content .item h3 {
        margin-bottom: 0
    }

     .product-content .item h3 em {
        font-size: 2.4rem;
    }

    .product-content .item .info {
        padding-top: 1rem;

    }
	.product-content .item .info p{
		font-size: 1.2rem;
	}
    .product-content .item .info p span {
        font-size: 2rem;
    }

}

@media only screen and (max-width:34em){
	.product{
		width: 98%;
	}
	.product h2 em:first-child:before {
        content: " ";
        display: table;
    }
    .product-content .item h3{
		width: 22%;
	}
	.product-content .item h3 em{
		font-size: 2rem;
	}
    .product-content .item{
    	padding-bottom: 6rem;
    }
    .product-content .item .info{
		width: 78%;
		height: 100%;
		float: right;
		border-left: none;
		padding-top:1rem; 
	}
	.product-content .item .info p{
		font-size: 1.2rem;

	}
	.product-content .item .info p:nth-child(1),.product-content .item .info p:nth-child(2){
		width: 50%;
	}
	.product-content .item .info p span{
		font-size: 1.8rem;
	}
	.product-content .item .buy{
		float: none;
		width: 100%;
		border-left:none;
	}
	.product-content .item .buy a{
		width: 80%;
		margin-top: 2rem;
		line-height: 3rem;
	}

}
.footer{
	width: 100%;
	font-size: 0;
	background-color: #fff;
}
.footer .footer-wrap{
	width: 90%;
	margin: 2rem auto 0;
	padding: 3rem 0;
}
.footer .footer-wrap .brand{
    width: 20%;
    height: 35px;
    box-sizing:border-box;
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background: url(../image/logo@1x.png) no-repeat left;
    background-size: 150px 35px; 
    float: left;
}
.footer ul{
	display:inline-block; 
	width: 15%;
	text-align: center;
	vertical-align: text-top;
	box-sizing:border-box;

}
.footer ul li {
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.footer ul li.title {
    font-size: 1.6rem;
    line-height: 3rem;
}

@media only screen and (max-width: 50em) {

    .footer .footer-wrap .brand {
        display: none;
    }

    .footer ul {
        width: 20%;
    }

    .footer ul li {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    ..footer ul li.title {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 34em) {
    .footer {
        width: 98%;
    }

    .footer ul li.title {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

/******footer样式*****
*********************/

footer {
    width: 100%;
    padding: 3rem 0 5rem;
    background-color: #ededed;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer ul li .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}

footer ul li .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon-vsjmfw {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

footer ul li .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}

footer p {
    text-align: center;
    color: #999;
}